body {
  display: grid;
  grid-template-rows: 170px 1fr 30px;
  background-color: rgb(255, 255, 255);
  margin: -10px;
}
div {
  font-size: 24px;
  font-family: "Courier New", monospace, "Arial Narrow", Arial, sans-serif;
  color: whitesmoke;
}
#heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 39, 245, 0.703);
}
#container {
  color: #000;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#healthAndScoreContainer div {
  text-align: center;
  font-size: larger;
  color: rgba(19, 19, 19, 0.867);
}
#gameBox {
  padding: 5px;
  height: 17em;
  width: 17em;
  display: grid;
  gap: 0.3rem;
  border-radius: 5%;
}
.item {
  background-color: rgba(39, 39, 245, 0.703);
  border: 0.05em solid rgba(0, 0, 0, 0.907);
  border-radius: 10%;
  animation: flip-the-grid 1s ease-in;
}
.item:hover {
  transition: 0.5s;
  background-color: rgba(88, 88, 242, 0.703);
}

@keyframes flip-the-grid {
  0% {
    animation-play-state: running;
    background-color: rgb(255, 255, 255);
  }
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0%;
  right: -10px;
  background-color: rgba(0, 0, 0, 0.659);
  height: 50px;
  padding-right: 10px;
  width: 100%;
}
button {
  background-color: rgba(39, 39, 245, 0.703);
  border: 0.05em solid rgba(0, 0, 0, 0.907);
  border-radius: 10%;
  padding: 5%;
  margin: 5%;
  font-size: 20px;
  color: whitesmoke;
  cursor: pointer;
}
button:hover {
  transition: 0.5s;
  background-color: rgba(88, 88, 242, 0.703);
} 